body {
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin inf
    ite 20s linear;
  }
}

.App-header {
  /* background-color: #61dafb; */
  min-height: 5vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding: 5px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 500px; */
  border: 1px dashed #bcbcbc;
}

.bbsImgDiv {
  object-fit: contain;
  border: inherit;
}

.bbsInfoDiv {
  padding: 5px;
  border: inherit;
}

.imgItem {
  text-align: left;
  float: left;
  border: inherit;
}

.bbsImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}